RewriteEngine On

# Nếu file hoặc thư mục tồn tại thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ❗ Bỏ qua rewrite cho 404.html
RewriteRule ^404\.html$ - [L]

# Rewrite for trang-chu.html
RewriteRule ^trang-chu\.html$ index.php [L]
RewriteRule ^home\.html$ home.php [L]

RewriteRule ^([a-zA-Z0-9_-]+)\.html$ danh-muc.php?tintuc=$1 [L]